*{ 
    margin:0px; 
    padding:0px; 
    border-radius: 0px; 
    box-sizing: border-box; 
    font-size: 110%; 
    font-family: Open Sans;
} 
  
#root{ 
    text-align:center; 
    background: grey;
    height: 100vh;
    padding: 10px;
} 

.frame{
    /* border: red 5px solid; */
    width: 30%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

.mainCalc {
    border: black 2px solid;
    border-radius: 20px;
    box-shadow:  0px 0px 100px white;
    height: 100%;
}

.calculator-title{
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Orbitron';
}

.screen {
width: 90%; 
margin: 0 auto 20px auto;
box-shadow:  inset 0px 0px -100px white;
}


.screenrow input{ 
font-family: 'Orbitron';
width: 100%; 
border: 0px; 
color: #383A2E; 
padding: 10px; 
text-align: right; 
background: #a4af87;

} 



input[type="button"]{ 
    font-size: 80%;
    background: black; 
    border: 1px solid #222; 
    color: white; 
    text-align: center; 
    border-radius: 50%;
    width: 25%;
    
  } 
    
  input[type="button"]:active{ 
      background: #ccc; 
  } 

  .button-row{
      display: flex;
      flex-direction: row;
      margin: 0 15%;
      height: 13%; 

  }



